.page-history-2025 main {
	$spacing: 10px;
	margin-top: 10px;
	justify-content: space-between;
	padding: 0 calc($spacing / 2);
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		
		max-width: 80%;
		max-height: 650px;
		border: 5px solid transparent;
		outline: 2px solid white;
		margin-bottom: 30px;
		border-radius: 30px;

		
	}

	p {
		text-indent: 50px;
		text-align: left;
	}
	
	.game {
		flex: 1;
		text-align: center;
		flex-direction: column;
	}
	
	.season {
		flex: 1;
		text-align: center;
		flex-direction: column;
	}

	.robot {
		flex: 1;
		text-align: center;
		flex-direction: column;
	}
}