.page-history-2024 main {
	$spacing: 10px;
	margin-top: 10px;
	justify-content: space-between;
	padding: 0 $spacing / 2;
	display: flex;
	flex-direction: column;
	//align-items: center;

	p {
		text-indent: 50px;
		text-align: left;
	}
	
	.game {
		flex: 1;
		text-align: center;
		flex-direction: column;
	}
	
	.season {
		flex: 1;
		text-align: center;
		flex-direction: column;
	}

	.robot {
		flex: 1;
		text-align: center;
		flex-direction: column;
	}
}