.page-home main {

	align-items: center;
	text-align: center;

	img.banner-image {
		
		width: 100%;
		padding: 10px 0;
		
	}
	
	p {
		
		text-align: justify;
		
	}

	a {
		text-decoration: none;
		position: relative;
		top: 10px;
		background: #203321;
		font-weight: bold;
		font-size: 1rem;
		padding: 6px  6px; 
		color: white;
		border-radius: 3px;
		border: 1px solid white;

		&:visited {
			
			color: white;
			
		}
	}
	
}
