.page-home main {

	align-items: center;
	text-align: center;

	img.banner-image {
		
		width: 100%;
		padding: 10px 0;
		border: 2px solid transparent;
		outline: 2px solid white;
		
	}
	.news {
		margin-top: 25px;

		p {
			text-align: center;
			margin-bottom: 10px;
			text-indent: 0px;
		}

		a.news-button {
			text-decoration: underline;
			color: white;
			position: relative;
			font-weight: bold;


			&:visited {
				color: white;
			}
		}
	}

	img.newsletter1 {
		border-left: 3px solid transparent;
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;

		outline: 2px solid white;
		width: 50%;
	}

	img.newsletter2 {
		border-right: 3px solid transparent;
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;

		outline: 2px solid white;
		width: 50%;
	}
	
	p {
		text-indent: 50px;
		text-align: justify;
		
	}

	a.history-button, a.about-us-button {
		margin-right: 10px;
		margin-left: 10px;
		text-decoration: none;
		position: relative;
		top: 15px;
		background: #203321;
		font-weight: bold;
		font-size: 1rem;
		padding: 6px  6px; 
		color: white;
		border-radius: 3px;
		border: 1px solid white;

		&:visited {
			
			color: white;
			
		}
	}
	
}
