.page-meet-the-SMEs main {
	
	.text-image-box {
		
		.text-box {
			
			.SME-header {
				
				display: flex;
				align-items: baseline;
				justify-content: center;
				flex-wrap: wrap;
				margin-bottom: 5px;
				padding: 0 5px;
				//white-space: nowrap;
				
				h4 {
					font-size: 1.7rem;
				}
				
				h6 {
					font-size: 1rem;
				}
				
			}
			
		}
		
	}

}
