.logo-horizontal-rule {
	
	height: 1.5rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	hr {
		
		flex: 1;
		
	}
	
	img {
		
		height: 150%;
		margin: 0 0rem;
		background: var(--color-bg)
		
	}
	
}
