@import "../../../assets/styles/variables";

footer {
	
	$spacing: 10px;
	
	@include expandToMaxWidth();
	
	margin-bottom: $spacing;
	background-color: var(--color-bg);
	
	.logo-horizontal-rule {
		
		margin-bottom: 8px;
		
	}
	
	.footer-content {
		
		padding: 0 $spacing / 2;
		
		.row {
			
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			p.repo-link {
				
				flex: 1;
				display: inline-block;
				font-size: 0.7em;
				color: #868686
				
				a {
					
					color: #c2c2c2;
					
				}
				
			}
			
			p.team-info-ln1, p.team-info-ln2  {
				
				text-align: center;
				
			}
			
			.social-media-icons {
<<<<<<< Updated upstream
				
				flex: 1;
				
			}
			
		}
=======
				text-align: center;
				margin-top: 26px;
			}

			.news-button {
				text-decoration: none;
				position: relative;
				top: 10px;
				background: #203321;
				font-weight: bold;
				font-size: 1rem;
				padding: 6px 6px; 
				color: white;
				border-radius: 3px;
				border: 1px solid white;
				&:visited {
					color: white;
				}
			}
		}

		.navigate {
			flex: 1;
			text-align: center;

			a {
				text-decoration: underline;
				color: white;
			}
			
		}

		.sponsor {
			flex: 1;
			text-align: center;
			flex: 1;
			text-align: center;
			flex-direction: column;
			p {
				margin-bottom: 10px;
			}		
			a {
				text-decoration: none;
				position: relative;
				top: 10px;
				background: #203321;
				font-weight: bold;
				font-size: 1rem;
				padding: 6px 6px; 
				color: white;
				border-radius: 3px;
				border: 1px solid white;
				
				&:visited {
					color: white;
				}	
			}
			
		}
>>>>>>> Stashed changes
		
	}
	
}
