@import "../../../assets/styles/variables";

footer {
	
	$spacing: 10px;
	
	@include expandToMaxWidth();
	
	margin-bottom: $spacing;
	background-color: var(--color-bg);
	
	.logo-horizontal-rule {
		
		margin-bottom: 8px;
		
	}
	
	.footer-content {
		
		padding: 0 $spacing / 2;
		
		.row-1 {
			
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			p.repo-link {
				
				flex: 1;
				display: inline-block;
				font-size: 0.7em;
				color: #868686
				
				a {
					
					color: #c2c2c2;
					
				}
				
			}
			
			p.team-info-ln1, p.team-info-ln2  {
				
				text-align: center;
				
			}
			
			.social-media-icons {
				
				flex: 1;
				
			}
			
		}

		.row-2 { 
			display: flex;
			align-items: center;
		}
		
	}
	
}
