@import "../../../assets/styles/variables";

footer {
	
	$spacing: 10px;
	
	@include expandToMaxWidth();
	
	margin-bottom: $spacing;
	background-color: var(--color-bg);
	
	.logo-horizontal-rule {
		
		margin-bottom: 8px;
		align-items: center;
	}	

	.columns {
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		padding: 0 $spacing / 2;

		hr {
			padding: 0;
		}
		
		.stay-connected {
			flex: 1;
			text-align: center;
			order: 1;
			flex-direction: column;
			gap: 16px;
			
			.social-media-icons {
				text-align: center;
				margin-top: 26px;
			}

			.news-button {
				text-decoration: none;
				position: relative;
				top: 10px;
				background: #203321;
				font-weight: bold;
				font-size: 1rem;
				padding: 6px 6px; 
				color: white;
				border-radius: 3px;
				border: 1px solid white;
			}
		}

		.navigate {
			flex: 1;
			text-align: center;

			a {
				text-decoration: none;
				font-weight: bold;
				color: white;
			}
		}

		.sponsor {
			flex: 1;
			text-align: center;
		}
		
	}

	.bottom-row {
			text-align: center;
			align-items: center;

			.team-info { 
				display: flex;
				justify-content: space-between;
				text-align: center;
			}

			.repo-link {
				font-size: 0.8em;
				color: #868686
			}
		}
	
}
