@import "../../../assets/styles/variables";

.page {
	
	height: 100%;
	
	min-height: 100vh;

	background: var(--r-light-gradient);
	color: var(--color-fg);
	
	&.centered {
		
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	
	main {
		
		flex: 1;
		width: 100%;
		
	}

	
	&.full-width main {
		
		max-width: none;
		
	}
	
	::selection {
		
		background: var(--color-fg);
		color: var(--color-bg);
		
	}
	// Hi future dev, as I was adding the global styles for my index.scss, the buttons would 
	// display purple as visited regardless of my stylesheet, sorry this is a lazy solution,
	// but it works for now and I don't think anyone will miss the purple links. :)
	/*a { 
		
		color: #AFAFFA;
		
		&:visited {
			
			color: #7A4AFF;
			
		}
		
	}*/
	
}
