$pageWidth: 1000px;
$maxHeaderFooterWidth: 2050px;

$backgroundColor: #162116;
$footerBackgroundColor: #162116;
$foregroundColor: white;
$firstBlue: #0066B3;
$firstRed: #ED1C24;

:root {
	
	--page-width: #{$pageWidth};
	--color-bg: #{$backgroundColor};
	--color-fbg: #{$footerBackgroundColor};
	--color-fg: #{$foregroundColor};
	--color-first-blue: #{$firstBlue};
	--color-first-red: #{$firstRed};
	--max-header-footer-width: #{$maxHeaderFooterWidth};
	
}

@mixin expandToMaxWidth($maxWidth: $pageWidth) {
	
	width: 100%;
	
	@if ($maxWidth == $pageWidth) {
		
		max-width: var(--page-width);
		
	} @else {
		
		max-width: $maxWidth;
		
	}
	
}

@mixin scale-fix {
	
	backface-visibility: hidden;
	transform: perspective(1px) translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	
}
