$pageWidth: 1000px;
$maxHeaderFooterWidth: 2050px;

$foregroundColor: white;
$firstBlue: #0066B3;
$firstRed: #ED1C24;
$raptorsBlack: #16261c;
$raptorsGreen: #234831;
$raptorsLight: #45644f;
$raptorsGrey: #363636;
$greenGradient: linear-gradient(90deg,rgba(22, 38, 28, 1) 10%, rgba(35, 72, 49, 1) 90%);
$blackGradient: linear-gradient(335deg,rgba(35, 72, 49, 1) 0%, rgba(0, 0, 0, 1) 84%);
$lightGradient: linear-gradient(315deg,rgba(22, 38, 28, 1) 10%, rgba(35, 72, 49, 1) 90%);

:root {
	
	--page-width: #{$pageWidth};
	--color-fg: #{$foregroundColor};
	--color-first-blue: #{$firstBlue};
	--color-first-red: #{$firstRed};
	--max-header-footer-width: #{$maxHeaderFooterWidth};
	--r-black: #{$raptorsBlack};
	--r-green: #{$raptorsGreen};
	--r-light:#{$raptorsLight};
	--r-grey:#{$raptorsGrey};
	--r-green-gradient:#{$greenGradient};
	--r-black-gradient:#{$blackGradient};
	--r-light-gradient:#{$lightGradient};
}

@mixin expandToMaxWidth($maxWidth: $pageWidth) {
	
	width: 100%;
	
	@if ($maxWidth == $pageWidth) {
		
		max-width: var(--page-width);
		
	} @else {
		
		max-width: $maxWidth;
		
	}
	
}

@mixin scale-fix {
	
	backface-visibility: hidden;
	transform: perspective(1px) translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	
}
